.search_cont{
	margin-left:20px;
}
.search{
	margin-left:50px;
	margin:auto;
	display:inline-block;
}
.search input{
	background-color:#5CACEE;
}
.choose_tag{
	border-radius: 5px;
	border:none;
	vertical-align:middle;
	height: 30px;
	width: 100px;
	background-color: #BFEFFF;
	font-size: 20px;
	font-weight:bold;
	color: #000;
	text-align: center;
}
.choose_tag:hover{
	background-color:#1C86EE;
	color:#000;
}
.result_label{
	margin-top: 10px;
	margin-left: 1em;
	display:inline-block;
	font-size: 15px;
	font-weight:bold;
	color: #FFF;
}
.choose_result{
	margin-top: 5px;
	letter-spacing:1.5px;
	color:#000;
	background-color:#FFF;
	font-size:15px;
	border-radius:2px;
}
.choose_title{
	color:#FFF;
	display:inline-block;
	font-size: 18px;
	font-weight:bold;
}