.jobinfo_cont{
	position:relative;
	height:auto;
	min-height:630px;
	background-color:#FFF;
	opacity:0.8;
	margin-top:5px;
	margin-bottom:5px;
}
.job_title{
	width:100%;
	height:60px;
	line-height:60px;
	text-indent:20px;
	background-color:#5CACEE;
	color:#FFF;
	font-size:20px;
	font-weight:900;
	font-family:sans-serif;
}
.jobinfo{
	width:100%;
	text-indent:20px;
	font-size:14px;
	border:none;
	text-align:right;
}
.jobinfo table,.companydetail table{
	border:none;
	margin:30px 30px 5px 30px;
	text-align:left;
}
.jobinfo table tr,.companydetail table tr{
	border:none;
}
.jobinfo table tr td ,.companydetail table tr td{
	width:300px;
	height:40px;
	line-height:40px;
	border:none;
	font-weight:bold;
}
#salary span{
	color:#f60;
	font-size:20px;
	font-weight:bold;
	font-family:sans-serif;
}
.jobinfo table span,.companydetail table span,#loc span{
	color:#06C;
	font-weight: bold;
}
#skill,#wel,#loc,#indus{
	text-align:left;
	margin-left:30px;
}

#skill label,#wel label,#loc label,#indus label{
	height:40px;
	line-height:40px;
	border:none;
	font-weight:bold;
}
#skill span, #wel span,#indus span{
	background:#BFEFFF;
	margin-right:6px;
	font-size:12px;
	font-weight:bold;
	color:#000;
	padding:4px;
	margin-bottom:3px;
	border-radius:5px;
	transition:.2s ease-in;
	-webkit-transition:.2s ease-in;
	-moz-transition:.2s ease-in;
}
#skill span:hover, #wel span:hover,#indus span:hover{
	font-size:15px;
	background-color:#FFB857;
	transition:.2s ease-in;
	-webkit-transition:.2s ease-in;
	-moz-transition:.2s ease-in;
}
.companydetail h3{
	font-family:sans-serif;
	padding-left:28px;
	font-size:15px;
	height:26px;
	line-height:26px;
	border-bottom:1px dashed #666666;
}
.jobinfo table i{
	color:#f60;
	font-size:18px;
	font-weight:bold;
	font-family:Arial;
}
.jobinfo_btn{
	margin-right:15px;
	width:100px;
	height:50px;
	line-height:50px;
	color:#000;
	background-color:#BFEFFF;
	font-size:18px;
	font-family:sans-serif;
	font-weight:bold;
	letter-spacing:2px;
	margin-bottom:20px;
	border-radius:10px;
	border:none;
	transition:.2s ease-in;
	-webkit-transition:.2s ease-in;
	-moz-transition:.2s ease-in;
}
.jobinfo_btn:hover{
	background-color:#1C86EE;
	color:#000;
}
.jobdetail_label,.companydetail_label{
	width:100%;
	height:40px;
	line-height:40px;
	background-color:#5CACEE;
	color:#FFF;
	font-weight:900;
	font-size:20px;
	font-family:sans-serif;
	text-indent:10px;
	margin-bottom:30px;
	padding-left:10px;
}
.jobdetail p,.companydetail p{
	text-indent:2em;
	line-height:24px;
	font-size:14px;
	padding:0 2em;
}

/*弹窗*/
#_report {
	/*position:absolute;*/
	height: 0px;
	width: 0px;
	background: #5CACEE;
	color: white;
	text-align: center;
	line-height: 40px;
	position:fixed;
	z-index:9999;
	border-radius:20px;
	opacity:0.8;
}

#report_close {
	float: right;
	top:6px;
	right:4px;
	height: 0px;
	width: 0px;
	background:url(../img/close.png);
	text-align: center;
	background-size:100%, 100%;
	cursor: pointer;
}

#report_container{
	font-family:sans-serif;
	width: 100%;
	text-align: center;
	display: none;
	margin-top: 30px;
	padding-bottom: 10px;
}
#industry_comp, #city_comp{
	display:inline-block;
	font-weight:bold;
	color:#000;
	background-color:#FFF;
	font-family:sans-serif;
	font-size:20px;
}
#industry_comp:hover, #city_comp:hover{
	color:#5CACEE;
}
.graph_cont{
	background-color:#FFF;
	width:580px;
	height:480px;
	border:1px solid #000;
	display:inline-block;
	
}