.register_cont{
	background-color:transparent;
	min-height:630px;
}
.register {
	width:60%;
	margin:auto;
	margin-top:50px;
    margin-bottom:50px;
    padding: 50px;
    background: #5CACFF;
	border-radius:20px;
	opacity:0.7;
	
}
.register h2 {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    margin: 0px 0px 30px;
	font-family:sans-serif;
	
}
.register h3 {
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 8px;
    letter-spacing: 1px;
}
.title label{
	display:inline-block !important;
	color:#FFF;
	font-size:18px;
	font-weight:bold;
	padding-bottom:15px;
	vertical-align: middle;
}
.register_form input[type="text"], .register_form input[type="email"],.city_select,textarea {
    display:inline-block;
	width: 400px;
	margin:auto;
	margin-bottom:20px;
	top:0;left:0;bottom:0;right:0;
    padding: 10px 10px 10px 10px;
    font-weight: normal;
    background: none;
    border: none;
	background:#FFF;
    outline: none;
    font-size: 14px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    font-family:sans-serif;
	color:#000;
}
textarea {
    resize: none;
    height: 58px;
}
.city_select,.education_select{
    width: 400px;
	height:40px;
}
#education_select{
	width:420px;
	margin-bottom:20px;
}
.register_form input[type="button"],.agile_main_grid_left2_grid_bottom a { 
	background:#5fe3f8;
    color: #fff;
    font-size: 17px;
	font-weight:bold;
	margin-top: 10px;
    border: none;
    width: 100%;
    outline: none;
	letter-spacing: 1px;
	cursor:pointer;
    -webkit-appearance: none;
    padding: 10px 15px;
	font-family:sans-serif;
	transition:.2s ease-in;
	-webkit-transition:.2s ease-in;
	-moz-transition:.2s ease-in;
}
.register_form input[type="button"]:hover,.agile_main_grid_left2_grid_bottom a:hover {
    background:#FFB857;
	color: #fff;
	font-weight:bold;
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
}
.register_form #info_text,.register_form #passwd_text{
	margin-left:13%;
	font-size:15px;
	color:#FFF;
}
option{
	background:#FFF;
	color:#000;
}

::-webkit-input-placeholder {
	color:#000 !important;
}
:-moz-placeholder { /* Firefox 18- */
	color:#000 !important; 
}
::-moz-placeholder {  /* Firefox 19+ */
	color:#000 !important;
}
:-ms-input-placeholder {  
	color:#000 !important;
}